.name {
  color: rgb(108, 218, 207);
  text-transform: capitalize;
  margin-top: 20px;
}

.type {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.types {
  background-color: rgb(108, 218, 207);
  margin: 0 5px;
  padding: 7px 15px;
  font-size: 15px;
  line-height: 15px;
  border-radius: 6px;
  box-shadow: 0 5px 15px 0 rgba(12, 189, 171, 0.5);
  color: #fff;
  font-weight: 400;
}
